<div class="container">

    <div class="row">
        <div class="col">
            <label id="header-title" [innerHTML]="'Carteira'"></label>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col">
                <label [innerHTML]="'Saldo em conta:'"></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label id="balance" [innerHTML]="'R$ 0,00'"></label>
            </div>
        </div>
        <div class="black-stripe"></div>
    </div>

    <section>
        <button type="button" id="btn-wallet" [innerHTML]="'Transferir'"></button>
    </section>

</div>