.container#no-work {
    display: grid;
    text-align: center;
    .mat-divider {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    img {
        width: 30px;
    }
}

.container#work {
    .mat-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}