<div *ngIf="isWork" class="container" id="no-work">
    <mat-divider></mat-divider>
    <span><img src="../../assets/icon/date.svg"></span>
    <mat-label>Nenhum trabalho</mat-label>
</div>

<div *ngIf="!isWork" class="container" id="work">
    <mat-divider></mat-divider>

    <mat-list>
        <mat-list-item>
            <div class="block">
                <label id="title">Compromisso:</label>
                <label id="address">Rua Madre Ana Justina, 03 - SP</label>
            </div>
        </mat-list-item>
    </mat-list>

</div>