<div id="mySidenav" class="sidenav">

    <div class="row" (click)="onProfile()">
        <div class="col-3">
            <span><img src="../../assets/icon/user.svg"></span>
        </div>
        <div class="col-9">
            <label id="name">Maria da Silva</label>
            <div class="block-score">
                <label id="score">4.78</label>
                <span><img src="../../assets/icon/star.svg"></span>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <mat-list *ngFor="let item of items">
        <div class="mat-list-item">
            <mat-list-item (click)="openPage(item)">
                <span><img src="../../assets/icon/{{item.icon}}.svg"> {{ item.item }} </span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>

</div>
<span class="hamburger" (click)="openNav()">&#9776;</span>