.hamburger {
    font-size: 30px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    position: fixed;
}

#mySidenav {
    top: 0;
    right: 0;
    width: 0;
    z-index: 1;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: #fff;
    #box-user {
        .fa-user-circle {
            left: 20px;
            bottom: 40px;
            font-size: 60px;
            color: #828282;
            margin-top: -37px;
            margin-left: 20px;
        }
        #txt-user-circle {
            font-size: 20px;
            margin-left: 20px;
        }
        .txt-fa-star {
            margin-left: 100px;
            color: #828282;
        }
        .fa-star {
            color: #828282;
            margin-left: -30px;
        }
    }
}

#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s
}

#mySidenav a:hover,
#mySidenav .offcanvas a:focus {
    color: #000;
}

#mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
}

.line {
    margin-left: 15px;
    width: 90%;
    border: solid 0.5px #8a8a8a;
}

.sidenav {
    .row {
        .col-3 {
            span {
                img {
                    max-width: 80px;
                    margin-left: 10px;
                    margin-top: -40px;
                    margin-bottom: 20px;
                }
            }
        }
        .col-9 {
            margin-top: -30px;
            label {
                margin: 0;
                color: #000;
                font-size: larger;
            }
            label#name {
                font-family: 'comfortaa';
            }
            .block-score {
                label#score {
                    color: #000;
                }
                span {
                    img {
                        width: 10px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .mat-list-item {
        span {
            color: #000;
            font-size: 20px;
            margin-left: 15px;
            font-family: unset;
            img {
                width: 30px;
                margin-top: 10px;
                margin-right: 20px;
                margin-bottom: 10px;
            }
        }
    }
}